site_name: Biblioteca 3 Cuerpos
site_url: https://jcsepulveda.github.io/librosresumen/
theme:
  name: material
  language: es
  palette: 
    - scheme: preference
  features:
    - navigation.instant
    - search.suggest
    - search.highlight
extra_css:
  - stylesheets/extra.css
plugins:
  - search