/* Forzar la justificaci칩n en todos los p치rrafos de la p치gina */
.md-typeset p {
    text-align: justify;
}

/* Opcional: Centrar las im치genes para que se vean mejor */
.md-typeset img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}